.header-bar {
  overflow: hidden;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-bar h2 {
  float: left;
  display: block;
  text-align: center;
  padding: 0.3em 1em;
  color: #f65153;
}

/* btn-logout {} */
