.btn:hover {
  background: #2d425f;
}

.register-link {
  display: inline-block;
  text-decoration: none;
  color: #2d425f;
}

.register-link:hover {
  color: #f65153;
  transition: 0.3s;
}

a.aboutbtn {
  display: inline-block;
  background: #b8bfc6;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  margin-top: 2em;
  border: 1px solid #fff;
}

a.aboutbtn:hover {
  background: #7c9fc2;
  transition: 1s;
}

a.login {
  display: inline-block;
  background: #f58a7e;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  margin: 2em;
  border: 1px solid #fff;
}

a.login:hover {
  background: #f65153;
  transition: 0.51s;
}


a.register {
  display: inline-block;
  background: #a9bdce;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  margin: 2em;
  border: 1px solid #fff;
}

a.register:hover {
  background: #668ba3;
  transition: 0.3s;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background: url('../img/abstract-art-blur-544917.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.bg .fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgba(255, 255, 255, 0)
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    )
    repeat scroll 0 0;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 50%;
  margin: -25% 0 0 -25%;
  color: #666;
}

.typewriter h1 {
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.3em 0.5em;
  border-radius: 2px;
  font-family: monospace;
}

.about-page {
  position: relative;
  height: 100vh;
}

.about-page-content {
  margin: 0;
  position: absolute; /* 2 */
  top: 50%; /* 3 */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.desc p {
  /* margin: 0 5em; */
  margin: auto;
  padding: 2em 2em;
  width: 50%;
  background-color: #2d425f;
  color: #fff;
  border-radius: 5px;
}

.Amgi {
  color: #f65153;
  font-weight: thin;
  font-size: 1.3em;
}

.welcome {
  position: relative;
  height: 100vh;
  background: #f5b2ab;
}

.welcome.fade-opp {
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0)
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffc978) repeat scroll
    0 0;
}

.welcome-header {
  margin: 0;
  position: absolute; /* 2 */
  top: 50%; /* 3 */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* ====== media bigger than 775px ====== */
@media (min-width: 775px) {
  .bg {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
  }

  .bg-img {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/abstract-art-blur-544917.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
  }

  .bg .fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(255, 255, 255, 0)
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      )
      repeat scroll 0 0;
  }

  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 50%;
    margin: -5% 0 0 -25%;
    color: #666;
  }

  .typewriter h1 {
    /* background: #f65153; */
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.3em 0.5em;
    border-radius: 2px;
    font-family: monospace; /* Web-safe typewriter-like font */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.3em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end),
      blinking-cursor 0.5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }

  .welcome {
    position: relative;
  }

  .welcome-header {
    margin: 0;
    position: absolute; /* 2 */
    top: 50%; /* 3 */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
